<a href="https://colab.research.google.com/github/cafior/PA3-tutorial/blob/master/Clase_practica_03_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase Practica 03

 - Ejercitacion de temas vistos en clases teoricas 1, 2 y 3.

### Comenzaremos con un poco de teoria:

# Ciclo __For__:

El ciclo __for__ se utiliza en programación para recorrer objetos __iterables__ , y ejecutar un bloque de codigo.

Entonces.. Que es un Iterable? Un  __iterable__ es un objeto que permite recorrer los elementos que lo componen, uno a uno.

Nosotros venimos trabajando con algunos objetos que son iterables:

- strings
- listas
-tuplas
-range()
-sets()

In [ ]:
#estructura del ciclo for

#for <elemento> in <iterable>:
    #bloque de codigo indentado.

In [ ]:
#Pedir al usuario su nombre e imprimirlo letra por letra con un salto de linea entre cada una

In [ ]:
lista_for = [1,2,3,4]
#verificar si los elementos de la lista son pares, informandolo mediante un print con True o False según corresponda.

### 1)
generar una lista que contenga todos los numeros del 0 al 10 con la funcion vista en clase. guardarla en la variable "numeros".

### 2)
hacer slicing con la variable "numeros" e imprimir:

* numeros pares
* numeros del 7 al 10
* numeros impares de mayor a menor
* promedio de los elementos
* promedio de la sumatoria sin tener en cuenta el primer elemento

#### *ejecutar las siguientes listas cada vez que comienza los ejercicios de 3 a 5 inclusive:*

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

### 3)
elegir un ticker aleatoriamente de byma y guardarlo en la variable "ticker_para_nyse". primero imprimir en pantalla y luego asignarlo a la lista de nyse, e imprimir esta ultima.

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

### 4)
mezclar aleatoriamente la lista nyse e imprimirla. Luego agregar el anteultimo ticker de esta lista a la lista byma.

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

### 5)
transformar las dos listas en una sola,en una variable llamada "lista_larga". Acomodarla en orden alfabetico INVERSO (Z a A) , imprimir y luego:
* elimilar el primer elemento utilizando el nombre del ticker (str) correspondiente.
* eliminar el ultimo elemento utilizando el indice del mismo e imprimir cual fue el mismo.

imprimir nuevamente la lista para verificar los cambios.

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

### 6)
Solicitar al usuario un valor entero para generar una tabla de multiplicación (1 al 10), presentando los resultados en pantalla y almacenándolos en una lista. ¿Como podría dejar almacenado dichos resultados en una tupla , en lugar de la lista?

### 7)
Utilizando otro número para las tablas, genera una nueva tabla de multiplicar y aplique la misma lógica utilizada en el punto 6. Luego, compare la nueva lista resultante con la del punto 6 y determine qué valores están presentes en ambas listas.

###  8)
solicitar al usuario la cantidad de elementos tendra nuestra lista.

Utilizando ese dato, solicitar al usuario tantos numeros como longitud de la lista, dando la posibilidad de que sean numeros decimales.

Guardar dichos numeros en una lista, y luego A MANO  calcular la media y la desviacion estandar.

Verificar con alguna libreria, los resultados obtenidos.

###  9)

Pedir al usuario 5 tickers y guardarlos en una lista. Verificar que ninguno tenga espacios al principio ni final, y que se encuentren en mayusculas.

Usar la lista "historial_de_operaciones" para ver si he operado algun ticker de los pasados por el usuario.

En el caso de hallar coincidencias , imprimir tales tickers en un texto minuscula como "el ticker X ha sido operado por mi"

Para aquellos tickers que no se hallen coincidencias, eliminarlos de "historial de operaciones" y guardarlos en una tupla.

In [ ]:
historial_de_operaciones = ["BMA" , "KO" , "TSLA" , "YPFD"]

### 10)

Con el String utilizado en la clase pasada, volverlo a limpiar para dejarlo normalizado, y luego generar una lista con las operaciones individuales (ticker operacion precio).


Obtener el precio promedio de las operaciones.

In [ ]:
cotizaciones = """BMA C 220,00
BMA C $219,22
BMA V $221,50
COME V $3,00
GGAL c $190,95
BMA V $220,25
GGAL v 187,20
TS V $40,30
TS C $45,20
TS V 40,20
COME C $3,01"""

### 11)

Pedir al usuario sus 3 acciones favoritas, y sus precios actuales, guardando este par de datos dentro de una lista, y luego todas estas listas de pares, deben quedar guardadas en una unica tupla llamada "acciones_favs"

Con los datos de la tupla, generar dos listas. Una con los tickers y otra con los precios.

### 12)
Se requiere saber cuales son los numeros que __NO__ se repiten dentro de la lista, para informarlos por consola.

El informe debe ser del tipo __"es X que Y se encuentra solo una vez en 'nums'   "__

In [ ]:
nums = [1, 2, 3, 1, 4, 2, 5, 6, 3]

### 13)
### a)

En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_a = [["2023-05-01", "C" , "BMA" , 220] ,
          ["2023-05-02" , "V" , "COME" , 3.00],
          ["2023-05-03" , "C" , "GGAL" , 451.32] ]

### b)
En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_b = ["2023-05-01", "C" , "BMA" , 220 ,
          "2023-05-02" , "V" , "COME" , 3.00,
          "2023-05-03" , "C" , "GGAL" , 451.32]

### c)
En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_c = [["2023-05-01", ["C"] , ["BMA"] , [220]] ,
          ["2023-05-02" , ["V"] , ["COME"] , [3.00]],
          ["2023-05-03" , ["C"] , ["GGAL"] , [451.32]]]

### d)

En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_d = [["2023-05-01", ["C" , "C" , "V"] , ["BMA" ,"BMA" , "BMA"] , [220 , 219.22 , 221.5]] ,
          ["2023-05-02" , ["V" , "C" , "V"] , ["COME" ,"GGAL" , "BMA"] , [3.00 , 190.95 , 220.25]] ]

### 14)
generar un array de 25 numeros entre 1 y 100. Eliminar el 3er elemento del array , y reemplazar por 0 al numero que se encuentre en la posicion 21. Imprimir numero por numero, junto a su cuadrado , de forma ordenada de mayor a menor.

### 15)
Generar 350 numeros aleatorios(menores a mil) y guardarlos en una lista.
Calcular media, moda y mediana. Calcular desvio , varianza y deciles utilizando metodos de librerias de calculo.